<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms timeout="1440"/>
    </authentication>
    <sessionState timeout="1400"/>
    <httpRuntime executionTimeout="9999999" maxRequestLength="5120000"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <compilation targetFramework="4.7.2"/>
  </system.web>
  <system.webServer/>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <add invariant="System.Data.SqlServerCe.4.0" name="Microsoft® SQL Server® Compact 4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add connectionString="data source=A2NWPLSK14SQL-v03.shr.prod.iad2.secureserver.net;initial catalog=m_join;user id=m_join;password=FreedomX1;Max Pool Size=50000;Pooling=True;TransparentNetworkIPResolution=False;Connection Timeout=1000" name="m_join" providerName="System.Data.SqlClient"/>
    <add connectionString="data source=92.205.23.177;initial catalog=dh;user id=dh;password=FreedomX14040A;Max Pool Size=50000;Pooling=True;TransparentNetworkIPResolution=False;Connection Timeout=10000" name="data_host" providerName="System.Data.SqlClient"/>
    <add connectionString="data source=92.205.23.177;initial catalog=tlg;user id=dh;password=FreedomX14040A;Max Pool Size=50000;Pooling=True;TransparentNetworkIPResolution=False;Connection Timeout=10000" name="tlg" providerName="System.Data.SqlClient"/>
    <add connectionString="data source=92.205.25.139;initial catalog=op_data;user id=op_data;password=FreedomX1;Max Pool Size=50000;Pooling=True;TransparentNetworkIPResolution=False" name="op_data" providerName="System.Data.SqlClient"/>
   <add connectionString="data source=92.205.25.139;initial catalog=m_ven;user id=m_ven;password=FreedomX1234!;Max Pool Size=50000;Pooling=True;TransparentNetworkIPResolution=False" name="m_ven" providerName="System.Data.SqlClient"/>
   <add connectionString="data source=SQL6033.site4now.net;initial catalog=db_abc30f_zion;user id=ilsystems;password=ilSystems2525X!$!;Max Pool Size=50000;Pooling=True;TransparentNetworkIPResolution=False" name="zion" providerName="System.Data.SqlClient"/>
	  

  </connectionStrings>
  <appSettings>
    <add key="enableSimpleMembership" value="true"/>
  </appSettings>
</configuration>